<li class="nav-item">
    <a href="{{ path('admin.contacts.index') }}" class="nav-link {{ is_subpath('admin.contacts.index') ? 'active' }}">
        <i class="nav-icon fa fa-envelope"></i>
        <p>
            Contacts
        </p>
    </a>
</li>